@*Authors: Cecilia Santiago, David McDonald, Ehsan Jalali, Hanieh Shahrokhi
    Workshop 5
    Date May 28, 2021*@

@*  Get Technician Page,
    Opens up the Incidents by Technician page
*@

@model Customer

@{ ViewBag.Title = "Get Customer"; }

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<h1>@ViewBag.Title</h1>


<form asp-controller="Registration" asp-action="OpenCustomer" method="get">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">

        <select asp-for="CustomerID"
                asp-items="@(new SelectList(ViewBag.Customers,
                                        "CustomerID", "FullName"))"
                class="form-control">
            <option value="">Select a customer ...</option>
        </select>
    </div>

    <button type="submit" class="btn bg-dark text-light">Select</button>

</form>
